@charset "UTF-8";
/* CSS Document */

#dlc_wrapper {
	  margin: 0px;
  overflow: hidden;
}
#dlc_cover {
	  margin: 0px;
  Width: 100%;
  height: 430px;
  border-bottom: 0px;
  background: url('https://www.persolkellyconsulting.com.hk/media/pcghk/client/dlc2022/img/DLCBannerb.jpg');
 /* background-repeat:no-repeat; */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dlc_profile-header-inner-overlay {
position: absolute;
width: 100%;
height: 430px;
top: 60px;
}

#dlc_social {
width: 100%;
height: 57px;
}

#dlc_info {
width: 90%;
height: 90%;
margin-right: auto;
margin-left: auto;
  padding-top: 20px;
}
.dlc_headinfo {
position: absolute;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.dlc_bio {
top: 70px;
}

#dlc_social a {
  link-decoration: none;
  color:#444;
  font-weight: normal;
}

#dlc_post {
background: #FFF;
margin-top: 15px;
margin-right: auto;
margin-left: auto;
border-radius: 5px;
width: 95%;
height: 430px;
}

.dlc_li {
list-style: none;
text-align: center;
float: left;
width: 20%;
line-height: 2;
height: 35px;
border: 0px;
}

.dlc_li:hover {
background: #FFB81C;
color:#FFFFFF;
}

@media only screen and (max-width: 900px)
  {
  #dlc_social {
padding-left: 10%!important;
}  
  .dlc_li {
width: 20%;
  }
  
}

@media (min-width:475px)
{
 body {
	 background:#FFFFFF;
}
  
  #dlc_wrapper {
overflow: hidden;
width: 80%;
margin-right: auto;
margin-left: auto;
  }
  
  .dlc_profile-header-inner-overlay {
width: 80%;
  }
}
