#dlcbody {
  text-align: center;
}
#dlcbody img {
  display: block;
  width: 100%;
  height: auto;
}
#dlcbody h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}
#dlcbody p {
  margin: 0;
  padding: 1em 0;
}
/* Media Queries 

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 11em 0;
border-radius: 50%;
}
.btn:hover {
  background: #eaeaea;
  color: #333;
}

*/

	 /*Section4 Start*/

#divFoodContainer,
#Card-Contnr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}


#Card-Contnr {
    margin: 70px 100px;
}

.Card {
    height: 350px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f6fb;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 40px;
    margin-left: 30px;
}

.Card-img {
    border-radius: 50%;
    Width: 80px;
}

.Card-discrptn {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: Italic;
    color: #8b8b99;
    height: 110px;
}

.Card-auth {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

 #Card-Contnr {
        flex-direction: column;
        margin: 20px 5px;
}


 .Card {
        width: 95%;
        display: block;
        margin: 10px;
    }




	  /*Section4 End*/

/*New btn Start*/



.button_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}
.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
.description {
  font-size: 35px;
}
.btn {
  display: inline-block;
	
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
	bottom: -320px;
	left: 50%;
	right:50%;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 12px 22px;
  margin: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #FFB81C;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.link {
  font-size: 20px;
  margin-top: 30px;
}
.link a {
  color: #000;
  font-size: 25px;
}
/*New btn End*/
/* Header */
#dlc_showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}
#dlc_showcase .bg-image {
  position: absolute;
  position: 0px;
  background: url("https://www.persolkellyconsulting.com.hk/media/pcghk/client/dlc2022/img/DLCBannerc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  z-index: -1;
}
#dlc_showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}
#dlc_showcase .content-wrap, #section-a .content-wrap {
  padding: 0 1.5em;
}
/* Section A */
#section-a {
  background: #fff;
  padding-bottom: 2em;
}
/* Section B */
#section-b {
  padding: 2em 1em 1em;
}
#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}
.card-content {
  padding: 1.5em;
}
/* Section C */
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}
/* Section D */
#section-d .box {
  padding: 2em;
  color: #fff;
}
#section-d .box:first-child {
  background: #2690d4;
}


/* Section E */
#section-e .box {
  padding: 2em;
  color: #fff;
}


/* Footer */
#main-footer {
  padding: 2em;
  background: #111;
  color: #fff;
  text-align: center;
}
#main-footer a {
  color: #2690d4;
  text-decoration: none;
}
/* Media Queries */
@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }
  #section-a .content-text p {
    padding-top: 0;
  }
  .content-wrap, #section-b ul {
    grid-column: 2/4;
  }
  .box, #main-footer div {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 31%;
  }
}
